.header {
  height: 70px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  margin-left: 15px;
}
.header a:hover {
  background-color: #d8a045;
  color: black;
  padding: 5px;
  border-radius: 15px;
}
