.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
}

@media screen and (max-width:550px){
  .product-container{
    display:grid;
    grid-template-columns: 1fr;
  }
}